@import '../../../_variables.scss';

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.2;
  }
}


circle {
  fill: mat-color($primary);
}

path.primary {
  stroke: mat-color($primary);
}