<div style="padding: 24px;">
    <mat-card style="max-width: 540px; margin: 0px auto;">

        <div style="display: flex;">
            <button mat-raised-button color="primary" *ngIf="btnVisibility.cancel"
                (click)="switchToTimers()">Cancel</button>
            <button mat-raised-button color="primary" *ngIf="btnVisibility.delete"
                (click)="deleteTimer()">Delete</button>
            <div style="flex-grow: 1;"></div>
            <button mat-raised-button color="primary" *ngIf="btnVisibility.add"
                (click)="switchToTimerAdding()">Add</button>
        </div>


        <app-animation-container-group #containerGroup>
            <app-animation-container #timerAddingContainer>
                <app-timer #timerComponent [displayInfos]="getInputDisplayInfo()" (start)="addTimer()"></app-timer>
            </app-animation-container>
            <app-animation-container #timersContainer>
                <app-animation-container-group #timersContainerGroup>
                    <app-animation-container *ngFor="let timer of timers" [uid]="timer.uid">
                        <app-timer [displayInfos]="getTimerInfos(timer.state)" [spinnerText]="timer.strRemainingTime"
                            [spinnerPercentage]="timer.percentage" (start)="timer.resume()" (pause)="timer.pause()"
                            (reset)="timer.reset()">
                        </app-timer>
                    </app-animation-container>
                </app-animation-container-group>
            </app-animation-container>
        </app-animation-container-group>


    </mat-card>
</div>
<button mat-raised-button color="primary" (click)="playAudio()">Test sound</button>