<div style="position: relative; width: 300px; height: 300px;">

    <table style="width: 100%; height: 100%;">
        <tr style="height: 20%;"></tr>
        <tr style="height: 15%;">
            <td>
                <button mat-button aria-label="reset button" class="btn-center-vertial"
                    *ngIf="showUpperStop(timer.state)" (click)="timer.reset()">
                    Reset
                </button>
            </td>
        </tr>
        <tr style="height: 20%;">
            <td>
                <!--<app-timer-input style="display: table; margin: 0 auto;"></app-timer-input>-->
            </td>
        </tr>
        <tr style="height: 15%;">
            <td>
                <button mat-button aria-label="start button" class="btn-center-vertial btn-icon"
                    *ngIf="showPlay(timer.state)" (click)="timer.resume()">
                    <mat-icon>play_arrow</mat-icon>
                    Start
                </button>
                <button mat-button aria-label="pause button" class="btn-center-vertial btn-icon"
                    *ngIf="showPause(timer.state)" (click)="timer.pause()">
                    <mat-icon>pause</mat-icon>
                    Pause
                </button>
                <button mat-button aria-label="reset button" class="btn-center-vertial btn-icon"
                    *ngIf="showLowerStop(timer.state)" (click)="timer.reset()">
                    <mat-icon>stop</mat-icon>
                    Reset
                </button>
            </td>
        </tr>
        <tr style="height: 20%;"></tr>
    </table>

    <app-timer-spinner width="300px" height="300px" [text]="timer.strRemainingTime" [flashText]="flashText(timer.state)"
        [percentage]="timer.percentage"
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: -1;">
    </app-timer-spinner>
</div>

<input matInput type="text" [(ngModel)]="timer.name">
<div>{{timer.state.toString()}}</div>
<input matInput type="number" [(ngModel)]="timer.timeInSecond">


<button mat-raised-button color="primary" (click)="timer.add()">add one second</button>
<button mat-raised-button color="primary" (click)="deleteTimer()">Delete</button>
