:host {
  margin: 0 auto;
  display: block;
  position: relative;
  width   : 300px;
  height  : 300px;
}

.btn-center-vertial {
  display: table;
  margin : 0 auto;
}

.btn-icon {
  padding-left: 6px;
}