<div>
    <app-timer-spinner width="300px" height="300px" [text]="timer.strRemainingTime" [flashText]="flashText(timer.state)"
        [percentage]="timer.percentage">
    </app-timer-spinner>
</div>

<input matInput type="text" [(ngModel)]="timer.name">
<div>{{timer.state.toString()}}</div>
<input matInput type="number" [(ngModel)]="timer.timeInSecond">

<button *ngIf="showPlay(timer.state)" mat-mini-fab aria-label="start button" color="primary" (click)="timer.resume()">
    <mat-icon>play_arrow</mat-icon>
</button>
<button *ngIf="showPause(timer.state)" mat-mini-fab aria-label="pause button" color="primary" (click)="timer.pause()">
    <mat-icon>pause</mat-icon>
</button>
<button *ngIf="showStop(timer.state)" mat-mini-fab aria-label="reset button" color="primary" (click)="timer.reset()">
    <mat-icon>stop</mat-icon>
</button>

<button mat-raised-button color="primary" (click)="timer.add()">add one second</button>

<button mat-raised-button color="primary" (click)="deleteTimer()">Delete</button>