<div class="vertical-flex" style="height: 100vh;">

  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>

    <button mat-flat-button color="primary" aria-label="Example icon-button with share icon" [routerLink]="'/'">
      Main
    </button>
    <button mat-flat-button color="primary" aria-label="Example icon-button with share icon" [routerLink]="'/clock'">
      Clock
    </button>
    <button mat-flat-button color="primary" aria-label="Example icon-button with share icon" [routerLink]="'/timer'">
      Timer
    </button>
    <span class="spacer"></span>

  </mat-toolbar>

  <div class="vertical-flex" style="flex: 1 1 auto; overflow-y: auto;">
    <div style="flex: 1 1 auto;">
      <router-outlet></router-outlet>
    </div>
    <div class="custom-primary">
      <div class="vertical-flex" style="margin: 22px auto; text-align: center;">

        <div>
          Copyright © 2021 洪晟崴(balato1992@gmail.com) All rights reserved.
        </div>
        <div>

          <span>Sound from <a href="https://www.zapsplat.com" target="_blank">Zapsplat.com</a></span>
        </div>
      </div>
    </div>
  </div>
</div>